{% extends "ncemhub/base.html" %}

{% block content %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="filesys" style="float:left; margin:0; width:15%;">
        <p>MICROSCOPES</p>
        {% for file in contents %}
            <li>
                <a href="/gallery/{{file}}">{{file}}</a>
            </li>
        {% endfor %}
        <p>PUBLIC</p>
        {% for file in contents %}
            <li>
                <a href="/gallery/{{file}}">{{file}}</a>
            </li>
        {% endfor %}
        
    </div>

    <div class="main" style="float:left; margin:0; width:85%">

        <!-- Albums  -->
        <ul>
            {% for album in albums.object_list %}
                <div class="title"><a href="/gallery/album/{{album.title}}/">{{ album.title }} ({{ album.image_set.count }} images)</a></div>
                <ul>
                    {% for img in album.images %}
                        <a href="{{ media_url }}{{ img.image.name }}"><img border="0" alt=""
                            src="{{ media_url }}{{ img.image.name }}" height="80" /></a>
                    {% endfor %}
                </ul>
                <ul>
                    <b>Description:</b> {{album.description}}
                </ul>
                <ul>
                    <p><b>Tags:</b> {{album.tags.all}}</p>

                    <p><b>Owner:</b> {{album.user}}</p>

                </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if albums.object_list and albums.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if albums.has_previous %}
                    <a href= "?page={{ albums.previous_page_number }}">previous &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ albums.number }} of {{ albums.paginator.num_pages }}
                </span>

                {% if albums.has_next %}
                    <a href="?page={{ albums.next_page_number }}"> &gt;&gt; next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}

