{% extends "ncemhub/base.html" %}

{% block content %}
    <div class="main">
            <TABLE  BORDER="5">
                <TR>
                    <TH COLSPAN="2">
                        <H3><BR>{{ album.title }} ({{ album.image_set.count }} images)</H3>
                    </TH>
                </TR>
                    {% for fieldName in album.image_set.values.field_names %} 
                        <TH>{{ fieldName }}</TH>
                    {% endfor %}
            {% for img in album.image_set.all %}
                <TR>
                    <TD>
                        {{img.id}}
                    </TD>
                    <TD>
                        {{img.title}}
                    </TD>
                    <TD>
                        <a href="{{ media_url }}{{ img.image.name }}"><img border="0" alt=""src="{{ media_url }}{{ img.image.name }}" height="128" /></a>
                    </TD>
                    <TD>
                        {{img.created}}
                    </TD>
                    <TD>
                        {{img.rating}}
                    </TD>
                    <TD>
                        {{img.width}}
                    </TD>
                    <TD>
                        {{img.height}}
                    </TD>
                    <TD>
                        {{img.user}}
                    </TD>
                </TR>
            {% endfor %}

    </div>
{% endblock %}
