{% extends "ncemhub/base.html" %}

{% block content %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="filesys" style="float:left; margin:0; width:30%;">
        <p>{{ depth }}</p>
        <p>Current Directory: {{ currentdirectory }}</p>
        <p>Directories</p>
        {% for directory in directories %}
            <li>
                <a href="/gallery/{{ microscopeName }}/?prefix={{ prefix }}&currentdirectory={{ directory }}">{{directory}}</a>
            </li>
        {% endfor %}
        <p><a href="/gallery/{{ microscopeName }}/?prefix={{ backone }}&currentdirectory={{ pastdirectory }}">Up Directory Level</a></p>
        <p><a href="/gallery/{{ microscopeName }}">Microscope Home</a></p>
        <p>PREFIX</p>
        <p>{{prefix}}</p>
    </div>

    <div class="main" style="float:left; margin:0; width:70%">
        <div id="filesys" style="float:left; margin:0; width:15%;">
            <p>PATH:
                {% for path in paths %}
                <a href="/gallery/{{ microscopeName }}/?prefix={{path}}">{{ path }}</a>-->
                {% endfor %}
                {{ currentdirectory }}</p>
            <p>Files</p>
            {% for file in files %}
                <li>
                    <a href="/gallery/{{microscopeName}}/?prefix={{ prefix }}&file={{ file }}">{{file}}</a>
                </li>
            {% endfor %}
            <p>BACK_ONE</p>
            <p>{{backone}}</p>
            <p>--------------</p>
            <p>PAST_DIRECTORY</p>
            <p>{{ pastdirectory }}</p>
        </div>
    </div>
</div>
{% endblock %}