{% extends "ncemhub/base_bs_main.html" %}
{% block content %}

          <div class="jumbotron">
            <h1>NCEM HUB</h1>
            <p>The National Center for Electron Microscopy (NCEM) is one of the world’s foremost centers for electron microscopy and microcharacterization. It is an Office of Science User Facility operated for the U.S. Department of Energy by Lawrence Berkeley National Laboratory. This is a site designed to be a portal for users at NCEM in order to view and download their data.   <p>
          </div>

        </div><!--/span-->
      </div><!--/row-->
{% endblock %}
