

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>NCEMhub</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css">
        body { padding-top: 60px; }
    </style>
    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  {% comment %}
  The following requires that each view send a variable if they want a menu item highlighted
  None of hte views should require their own html for this section
  {% endcomment %}
    {% block menu %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NCEMhub</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{{ home }}><a href="/">Home</a></li>
              {% if user.is_authenticated %}  
                <li{{ profile }}><a href="{{ url_prefix }}/profile/{{user.id}}">Profile</a></li>
                <li{{data_page}}><a href="/directories">Data</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li{{ log_out }}><a href="/user/logout">Log out</a></li>
              {% else %}
                <li{{sign_in}}><a href="/user/login">Sign in</a></li>
              {% endif %}
            <li><a href="/contact">Contact</a></li>
            <li><form>
              
              <input type="text" name="query">
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form></li>
            <li><a href="/search/advanced">Advanced Search</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
      {% endblock %}
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
{% comment %}
The following secion is for if there is anything that should be focused on. 

It will show up at the top of the screen highly emphasized as the significant content.
If nothing should be emphasized, simple put the section label in the root html without any info
{% endcomment %}
          {% block focus_content %}
            
            {% ifequal home  " class=active" %}
              <div class="jumbotron">
                <h1>Welcome to NCEMhub</h1>
                <p>The National Center for Electron Microscopy (NCEM) is one of the world’s foremost centers for electron microscopy and microcharacterization. It is an Office of Science User Facility operated for the U.S. Department of Energy by Lawrence Berkeley National Laboratory. This is a site designed to be a portal for users at NCEM in order to view and download their data.  <a href="/about"> more...</a></p>
              </div>
            {% endifequal %}
          
          {% endblock %}

{% comment %}

Place the iterative list to be displayed normally simply a variable type will need to be passed to the root html
but for detail listing, the block content will need to be more specific

{% endcomment %}

        {% block content %}

        {% endblock %}
{% comment %}

Not sure what to do with this yet

{% endcomment %}
        {% block side_nav %}

{#        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">#}
{#          <div class="list-group">#}
{#            <a href="#" class="list-group-item active">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#          </div>#}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    
<script src="offcanvas.js"></script>
  </body>
</html>
