<html>
	<head>
	<link rel="shortcut icon" href="/media/favicon.ico"/>
	<title> NCEMhub </title>
	</head>
<u><center><em><h1>NCEMhub</h1></em></center></u>

	<div class="main" style="float:left; margin:0; width:15%">
		<a href="{% url 'data_manager.views.main' %}">.</a>
	</div>
	

	<div class="main" style="float:right; margin:0; width:15%">
		<form action="{% url 'data_manager.views.initiate_database' %}" method="get">
		<input type="submit" value="Initialize Database">
		</form>
	</div>

	
	{% load staticfiles %}
	<link rel='stylesheet' type='test/css' href="{% static 'ncemhub/style.css' %}" />
	{% block extrahead %} {% endblock %}

<body>
<div id='pageContainer'>
	<div id="nav_top_right">
		
    	<p><em>Hello, {{ user.username }}</em></p>
		<ul id="list-nav">
			{% if user.is_authenticated %} 
				<li><a href="/user/profile">Profile</a></li>
				<li><a href="/user/logout">Logout</a></li>
				<li>
					<a href="{% url 'data_manager.views.main' %}">Data</a>
				</li>

			{% else %} 
				<li><a href="/user/login">Login</a></li>
				<li><a href="/user/register">Register</a></li>
			{% endif %}
	
			<li>
				<a href="{% url 'data_manager.views.main' %}?public=True">Gallery</a>
			</li>
    		<li>
    			<form action="/gallery/search/" method="get">
        		<input type="text" name="q">
        		<input type="submit" value="Search">
    			</form>
    		</li>
    	</ul>
	</div>
	{% block content %}
	{% endblock %}
</div>
</body>
</html>
