{% extends "ncemhub/base_bs_main.html" %}
{% block content %}

          <div class="jumbotron">
            <h1>NCEMhub</h1>
            <p><h2>Colin Ophus</h2> of Lawrence Berkeley National Lab's National Center for Electron Microscopy <p>
            <p><h2>David Skinner</h2> of Lawrence Berkeley National Lab's National Energy Research and Scientific Computational Center</p>
            <p><h2>Peter Ercius</h2> of Lawrence Berkeley National Lab's National Center for Electron Microscopy</p>
            <p><h2>William S. Fox</h2> of Illinois Institute of Technology and affiliate of Lawerence Berkeley National Lab</p>

          </div>

        </div><!--/span-->
      </div><!--/row-->
{% endblock %}
