{% extends "ncemhub/base_bs_main.html" %}
{% block content %}

          <div class="jumbotron">
            <h1>{{data_details.name}}</h1>
                {% if d_set.image_rep_path == "/" %}
                    {%comment%}
                        This checks if the image file exists
                    {%endcomment%}
                {% else %}
                    <a class="btn btn-default" href="{{media_url}}full_image/{{data_details.id}}.jpg" role="button">
                    <img src="{{media_url}}full_image/{{data_details.id}}.jpg" alt="{{data_details.name}}" width="256">
                    </a>
                {% endif %}
            <p>Created on: {{data_details.created_on}}</p>
            <p>Recorded on:
            {%for recor in data_details.data_recorder.all %}
                {{ recor }}
            {%endfor%}</p>
            <p>Owners: 
            {%for owner in data_details.owners.all %}
                {{ owner }}
            {%endfor%}</p>
            {% if user.is_authenticated %}
              <p><a class="btn btn-default" href="{{url_prefix}}/download/{{data_details.id}}"role="button">Download &raquo;</a><a class="btn btn-default" href="{{url_prefix}}{% url 'data_manager.views.user_data' %}/{{data_details.id}}/edit" role="button">Edit Data &raquo;</a></p>
            {% endif %}
          </div>

        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            {% if user.is_authenticated %}

              <a href="{{url_prefix}}{% url 'data_manager.views.user_data' %}" class="list-group-item active">Data Sets</a>
              <a href="{{url_prefix}}{% url 'data_manager.views.collections' %}" class="list-group-item">Collections</a>
              <a href="{{url_prefix}}{% url 'data_manager.views.directories' %}" class="list-group-item">Microscope Directories</a>
            {% endif %}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
          </div>
        </div><!--/span-->
      </div><!--/row-->
	<div class="row">
          <h2 class="sub-header">Metadata from File</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Characteristic</th>
                  <th>Float Value</th>
                  <th>Text Value</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody>
                {% for charac in data_details.value_set.all %}
                <tr>
                  <td>#</td>  
                  <td><a href="{{url_prefix}}{% url 'data_manager.views.user_data' %}/{{data_details.id}}/more/{{charac.id}}">{{charac.characteristic}}</a></td>
                  <td>
                  {% ifequal charac.float_value None %}  
                    {{EmptyVariable}}
                  {% else %}
                    {{ charac.float_value }}
                  {% endifequal %}
                  </td>
                  <td>{{ charac.text_value }}</td>
                  <td>{{ charac.priority_value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
{% endblock %}
