{% extends "ncemhub/base_bs_data.html" %}
{% block content %}

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>{{data_detail.name}}</h1>
            <p>Created on: </p>
            <p>Recorded on:
            {%for recor in d_set.data_recorder.all %}
                {{ recor }}
            {%endfor%}</p>
          </div>

        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="{% url 'data_manager.views.user_data' %}" class="list-group-item active">Data Sets</a>
            <a href="{% url 'data_manager.views.collections' %}" class="list-group-item">Collections</a>
            <a href="{% url 'data_manager.views.directories' %}" class="list-group-item">Microscope Directories</a>
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
          </div>
        </div><!--/span-->
      </div><!--/row-->
	<div class="row">
        {% for d_set in data_chosen %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{d_set}} </h2>
                <p>
                    Created on: {{ d_set.created_on }}
                </p>
                <p>
                    Recorded on: 
                    {%for recor in d_set.data_recorder.all %}
                        {{ recor }}
                    {%endfor%}
                </p>
                <p><a class="btn btn-default" href="{% url 'data_manager.views.user_data' %}/{{d_set.id}}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
    <p>---------------------------------------------------------------------</p>
    <p>SHARED WITH YOU</p>
    <div class="row">
        {% for d_set in shared_data %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{d_set}} </h2>
                <p>
                    Created on: {{ d_set.created_on }}
                </p>
                <p>
                    Recorded on: 
                    {%for recor in d_set.data_recorder.all %}
                        {{ recor }}
                    {%endfor%}
                </p>
                <p><a class="btn btn-default" href="{% url 'data_manager.views.user_data' %}/{{d_set.id}}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
