{% extends "ncemhub/base_bs_main.html" %}
{% block content %}


          <div class="jumbotron">
            <h1>Directories</h1>
                
                <p></p>
          </div>

        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="{{url_prefix}}{% url 'data_manager.views.user_data' %}" class="list-group-item">Data Sets</a>
            <a href="{{url_prefix}}{% url 'data_manager.views.collections' %}" class="list-group-item">Collections</a>
            <a href="{{url_prefix}}{% url 'data_manager.views.directories' %}" class="list-group-item active">Microscope Directories</a>
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
{#            <a href="#" class="list-group-item">Link</a>#}
          </div>
        </div><!--/span-->

        
          </div><!--/row-->
    <ol class="breadcrumb">
        <li>
            <a href="?">{{instrument.name}}</a>
        </li>
        {%for prev in bread_crumbs%}
            <li><a href="?path={{prev.path}}&directory={{prev}}">{{prev}}</a></li>
        {% endfor %}
        {% ifnotequal directory "" %}
        <li class="active">{{directory}}</li>
        {% endifnotequal %}
        {% ifnotequal directories '' %}
        <li>
            <div class="btn-group-vertical">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Directories
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    {% for dir in directories %}
                        <li><a href="?path={{path}}&directory={{dir}}">{{dir}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endifnotequal %}
    </ol>
    <div class="btn-group-vertical">
        {%for year in years %}
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><a href="?path={{path_current}}&directory={{directory_current}}&year={{year.year}}">{{year.year}}</a></button>
              {%for month in year.months %}  
                <button type="button" class="btn btn-default"><a href="?path={{path_current}}&directory={{directory_current}}&year={{year.year}}&month={{month}}">{{month}}</a></button>
              {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
    <ul class="pagination">
            {% if data_chosen.has_previous %}
                <li><a href="?page={{ data_chosen.previous_page_number }}&path={{path_current}}&directory={{directory_current}}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&laquo;</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {%ifequal i data_chosen.number %}
                    <li class="active"><a href="?page={{i}}&path={{path_current}}&directory={{directory_current}}">{{i}}</a></li>
                {%else%}
                    <li><a href="?page={{i}}&path={{path_current}}&directory={{directory_current}}">{{i}}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if data_chosen.has_next %}
                <li><a href="?page={{ data_chosen.next_page_number }}&path={{path_current}}&directory={{directory_current}}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&raquo;</a></li>
            {% endif %}
    </ul>
</div>
	<div class="row">
        {% for d_set in data_chosen %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{d_set}} </h2>
                {% if d_set.image_rep_path == "/" %}
                    {%comment%}
                        This checks if the image file exists
                    {%endcomment%}
                {% else %}
                <a class="btn btn-default" href="{{url_prefix}}{% url 'data_manager.views.user_data' %}/{{d_set.id}}/more" role="button">
                    <img src="{{media_url}}thumbnails/{{d_set.id}}.jpg" alt="{{d_set.name}}" width="128" height="128">
                </a>
                {%endif%}
                <p>
                    Created on: {{ d_set.created_on }}
                </p>
                <p>
                    Recorded on: 
                    {%for recor in d_set.data_recorder.all %}
                        {{ recor }}
                    {%endfor%}
                </p>
                <p><a class="btn btn-default" href="{{url_prefix}}{% url 'data_manager.views.user_data' %}/{{d_set.id}}/more" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
