{% extends "ncemhub/base_bs_main.html" %}

{% block content %}
    <div class="row">
        {% for d_set in data_sets %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{d_set}} </h2>
                <p>
                    Created on: {{ d_set.created_on }}
                </p>
                <p>
                    Recorded on: 
                    {%for recor in d_set.data_recorder.all %}
                        {{ recor }}
                    {%endfor%}
                </p>
                <p><a class="btn btn-default" href="{% url 'data_manager.views.user_data' %}/{{d_set.id}}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for collection in collections %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{collection}} </h2>
                <p>
                    Created on: {{ collection.created_on }}
                </p>
                <p>
                    Recorded on: 
                    {%for recor in collection.data_recorder.all %}
                        {{ recor }}
                    {%endfor%}
                </p>
                <p><a class="btn btn-default" href="{% url 'data_manager.views.collections' %}/{{collection.id}}" role="button">View details &raquo;</a></p>
            </div>
        {% endfor %}
    </div>
 
{% endblock %}
