{% extends "ncemhub/base.html" %}

{% block content %}
<p><sub>Path:
    {% for step in path %}
        <a href="">{{step}}</a>
    {% endfor %}
</sub></p>
{% if user.is_authenticated %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="recently_clecked" style="float:left; margin:0; width:50%;">
        <p>RECENTLY LOOKED AT:</p>
    </div>
    <div class="main" style="float:left; margin:0; width:50%">
        <p>RECENTLY RECORDED:</p>
    </div>
</div>
{% endif %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="filesys" style="float:left; margin:0; width:20%;">
        <p>INSTRUMENTS</p>
        {% for instrument in instruments %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?cat=inst&id={{ instrument.id }}">{{instrument}}</a>
            </li>
        {% endfor %}
                
        <p>COLLECTIONS</p>
        {% for collection in collections %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?cat=coll&id={{ collection.id }}">{{collection}}</a>
            </li>
        {% endfor %}        
        
        <p>REPOSITORIES</p>
        {% for rep in repositories %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?cat=repo&id={{ rep.id }}">{{ rep }}</a>
            </li>
        {% endfor %}

        <p>DATA SETS</p>
        {% for d_set in data_sets %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?cat=data&id={{ d_set.id }}">{{ d_set }}</a>
            </li>
        {% endfor %}

        
    </div>

    <div class="main" style="float:left; margin:0; width:50%">

        <!-- Based on the content chosen decided by cat sent  -->
        <p>CONTENT:</p>
        {% if cat == "inst" %}
            {% for file in files  %}
                <li>
                    <a href="{% url 'data_manager.views.main' %}">{{ file }}</a>
                </li>
            {% endfor %}
            <img src="{{ MEDIA_URL }}{{image}}" alt="">
        {% elif cat == coll %}
            {{ var }}
        {% elif cat == repo %}
            {{ var }}
        {% elif cat == data %}
            {{ var }}
        {% endif %}
    </div>
    <div class="main" style="float:right; margin:0; width:30%">
        <p>CONTENT NAVIGATION</p>
        {% if cat == "inst" %}
        {% for directory in directories %}
            <li>
                <a href="{% url 'data_manager.views.main' %}">{{directory}}</a>
            </li>
            {% endfor %}
            <img src="{{ MEDIA_URL }}{{image}}" alt="">
        {% elif cat == coll %}
            {{ var }}
        {% elif cat == repo %}
            {{ var }}
        {% elif cat == data %}
            {{ var }}
        {% endif %}
        <p>{{ NavigationPanel }}</p>
        <p><sub>
            <a href="{% url 'data_manager.views.edit' %}?cat={{cat_open}}&id={{ content.id }}">EDIT: {{ content }}</a>
        </sub></p>
    </div>
</div>
{% endblock %}

