{% extends "ncemhub/base.html" %}

{% block content %}
<p><sub>Path:
    {% for step in path %}
        <a href="">{{step}}</a>
    {% endfor %}
</sub></p>
{% if user.is_superuser %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="recently_clecked" style="float:left; margin:0; width:50%;">
        <p>RECENTLY LOOKED AT:</p>
    </div>
    <div class="main" style="float:left; margin:0; width:50%">
        <p>RECENTLY RECORDED:</p>
    </div>
</div>
{% endif %}
<div id="display"  style="margin:0px auto; width:100%" >
    <div id="filesys" style="float:left; margin:0; width:20%;">
        <sub><p>INSTRUMENTS</p>
        {% for instrument in instruments %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?{{public}}cat=inst&id={{ instrument.id }}">{{instrument}}</a>
            </li>
        {% endfor %}
                
        <p>COLLECTIONS</p>
        {% for collection in collections %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?{{public}}cat=coll&id={{ collection.id }}">{{collection}}</a>
            </li>
        {% endfor %}        
        
        <p>REPOSITORIES</p>
        {% for rep in repositories %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?{{public}}cat=repo&id={{ rep.id }}">{{ rep }}</a>
            </li>
        {% endfor %}

        <p>DATA SETS</p>
        {% for d_set in data_sets %}
            <li>
                <a href="{% url 'data_manager.views.main' %}?{{public}}cat=data&id={{ d_set.id }}">{{ d_set }}</a>
            </li>
        {% endfor %}
        </sub>
        
    </div>

    <div class="main" style="float:left; margin:0; width:50%">

        <!-- Based on the content chosen decided by cat sent  -->
        <p>CONTENT:</p>
        {% if cat == "inst" %}
            {% for file in files  %}
                <li>
                    <a href="{% url 'data_manager.views.main' %}?{{ public }}">{{ file }}</a>
                </li>
            {% endfor %}
            <img src="{{ MEDIA_URL }}{{image}}" alt="">
        {% elif cat == "coll" %}
            <table border="1" style="width:300px">
                <tr>
                    <td>Collection Members:</tr>
                </tr>
                <tr>
                    <td>
                    {% for memb in chosen.members.all %}
                        {{ memb }},
                    {% endfor %}
                    </td>
                <tr>
            </table>
            <p></p>
            <table border="1" style="width:300px">
                <tr>
                    <td>Collection Owners:</tr>
                </tr>
                <tr>
                    <td>
                    {% for own in chosen.owners.all %}
                        {{ own }},
                    {% endfor %}
                    </td>
                <tr>
            </table>
            {% for data in chosen_data  %}
                <li>
                    <a href="{% url 'data_manager.views.main' %}?{{ public }}">{{ data }}</a>
                </li>
                <UL>
                    <li>
                        Tags:
                        {% for tag in data.tags.all %}
                            {{ tag }}, 
                        {% endfor %}
                    </li>
                    <li>
                        Owners:
                        {% for ownr in data.owners.all %}
                            {{ ownr }}, 
                        {% endfor %}
                    </li>
                </UL>
            {% endfor %}
            {{ var }}
        {% elif cat == "repo" %}
            {% for data in chosen_data  %}
                
                <li>
                    <a href="{% url 'data_manager.views.main' %}?{{public}}">{{ data }}</a>
                </li>
                <UL>
                    <li>
                        Tags:
                        {% for tag in data.tags.all %}
                            {{ tag }}, 
                        {% endfor %}
                    </li>
                    <li>
                        Owners:
                        {% for ownr in data.owners.all %}
                            {{ ownr }}, 
                        {% endfor %}
                    </li>
                    <li>
                        Members:
                        {% for member in data.members.all %}
                            {{ member }}, 
                        {% endfor %}                        
                    </li>
                </UL>
            {% endfor %}
            {{ var }}
        {% elif cat == "data" %}
            {% for data in chosen_data  %}
                <li>
                        <a href="{{ media_url }}{{ data.image_rep_path }}"><img border="0" alt=""src="{{ media_url }}{{ data.image_rep_path }}" height="100" /></a>
                </li>
                <li>
                    Data Set: {{ data.name }}
                </li>
                <li>
                    Recorded: {{ data.created_on }}
                </li>
                <li>
                    Last Updated: {{ data.updated_on }}
                </li>
                <li>
                    Path Origin: {{ data.data_original_path }}
                </li>
                <li>
                    Current Path: {{ data.data_path }}
                </li>
                <li>
                    Temp Image: {{ data.image_rep_path }}
                </li>
                <li>
                    Description: {{ data.description }}
                </li>
                <li>
                    Owners:
                    {% for ownr in data.owners.all %}
                        {{ ownr }}, 
                    {% endfor %}
                </li>
                <li>
                    Tags: 
                    {% for tag in data.tags.all %}
                        {{ tag }}, 
                    {% endfor %}
                </li>
                <li>
                    Data Recorder(s): 
                    {% for datrec in data.data_recorder.all %}
                        {{ datrec }}, 
                    {% endfor %}
                </li>
                <li>
                    Collections: 
                    {% for collect in data.collections.all %}
                        {{ collect }}, 
                    {% endfor %}
                </li>
                    <table border="1" style="width:300px">
                    <tr>
                        <td>
                            ATTRIBUTE
                        </td>
                        <td>
                            Float Field
                        </td>
                        <td>
                            Text/Units
                        </td>
                    </tr>
                        <tr>
                        {% for characs in data.value_set.all %}
                            <td>
                            {{ characs.characteristic }}
                            </td>
                            <td>
                            {{ characs.float_value }}
                            </td>
                            <td>
                            {{ characs.text_value }} 
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <form action="{% url 'data_manager.views.download' %}?{{public}}cat=data&id={{ data.id }}" method="get">
                        <input type="submit" value="Download">
                    </form>
            {% endfor %}
            {{ var }}
        {% endif %}
    </div>
    <div class="main" style="float:right; margin:0; width:30%">
        <p>{{content_title}} NAVIGATION</p>
        {% if cat == "inst" %}
            {% for directory in directories %}
            <li>
                <a href="{% url 'data_manager.views.main' %}">{{directory}}</a>
            </li>
            {% endfor %}
            <img src="{{ MEDIA_URL }}{{image}}" alt="">
        {% elif cat == "coll" %}
            {{ var }}
        {% elif cat == "repo" %}
            {{ var }}
        {% elif cat == "data" %}
            {{ var }}
        {% endif %}
        <p>{{ NavigationPanel }}</p>
        <p><sub>
            <a href="{% url 'data_manager.views.edit' %}?cat={{cat_open}}&id={{ content.id }}">EDIT: {{ content }}</a>
        </sub></p>
    </div>
</div>
{% endblock %}

